<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799724124194-851jpttlhrhovdjhg39ds316sho068of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799724124194-851jpttlhrhovdjhg39ds316sho068of</string>
	<key>API_KEY</key>
	<string>AIzaSyDvDg8vbhLOrMrEncpRlIAs41C1YPPy8AU</string>
	<key>GCM_SENDER_ID</key>
	<string>799724124194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Assignment2</string>
	<key>PROJECT_ID</key>
	<string>reelsclone-87242</string>
	<key>STORAGE_BUCKET</key>
	<string>reelsclone-87242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799724124194:ios:c7f7a20d2670b55753f27b</string>
</dict>
</plist>